openapi: 3.0.3
info:
  title: APIMatic Platform APIs API
  description: The APIMatic Platform API provides programmatic access to APIMatic's capabilities including SDK generation, API documentation portal generation, API specification validation and linting, and API specification transformation. Integrate APIMatic into your CI/CD workflows to automate your developer experience suite.
  version: 1.0.0
  contact:
    url: https://www.apimatic.io/contact
  termsOfService: https://www.apimatic.io/terms
servers:
- url: https://api.apimatic.io
  description: APIMatic Platform API
security:
- apiKey: []
tags:
- name: APIs
paths:
  /api-entities:
    get:
      operationId: listApiEntities
      summary: List API Entities
      description: List all API entities (API definitions) in your APIMatic account.
      tags:
      - APIs
      responses:
        '200':
          description: List of API entities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiEntity'
              examples:
                default:
                  $ref: '#/components/examples/ApiEntityListExample'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: importApiDefinition
      summary: Import API Definition
      description: Import an API specification file to create a new API entity in APIMatic.
      tags:
      - APIs
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: API specification file to import
      responses:
        '200':
          description: API entity created from imported specification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiEntity'
              examples:
                default:
                  $ref: '#/components/examples/ApiEntityExample'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  examples:
    ApiEntityListExample:
      value:
      - id: ent_abc123
        name: My API
        description: A sample API managed in APIMatic
        version: 1.0.0
        createdAt: '2026-01-15T10:00:00Z'
        updatedAt: '2026-04-01T12:00:00Z'
    ApiEntityExample:
      value:
        id: ent_abc123
        name: My API
        description: A sample API managed in APIMatic
        version: 1.0.0
        createdAt: '2026-01-15T10:00:00Z'
        updatedAt: '2026-04-01T12:00:00Z'
  schemas:
    ApiEntity:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the API entity
        name:
          type: string
          description: Name of the API
        description:
          type: string
          description: Description of the API
        version:
          type: string
          description: API version
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
      - id
      - name
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
